@model Forum_Dyskusyjne.Models.MakePostViewModel

@using (Html.BeginForm("MakePost", "Thread", FormMethod.Post, new { @class = "form-horizontal text-center", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>New post</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group d-flex justify-content-center ">
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control col-8", @rows = "4" })
    </div>
    @Html.HiddenFor(m=>m.ThreadId)
    <div class="form-group">
        <input type="submit" value="Post it!" class="btn btn-primary" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}