@using Forum_Dyskusyjne.Models
@model Forum_Dyskusyjne.Models.MessageViewModel


@{
    ViewBag.Title = "Messages";
}



@if (User.Identity.IsAuthenticated)
{
    <hr>
    Html.RenderPartial("SendMessage", new MakeMessageViewModel { Content = "" });
}

<h3>Recived Messages</h3>

@foreach (Message m in Model.RecivedMessages)
{
    <div class="row border-top border-bottom">
        <div class="col-lg-2 col-md-2 col-sm-3 bg-light py-3 d-flex justify-content-center align-items-center " style="flex-direction: column">
            <img src=@m.Sender.GetAvatar() alt="User avatar" style="height: 4rem; width: 4rem" class="border">
            <h5 class="text-truncate">@m.OrginalSender</h5>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 py-3 text-wrap">
            <h6>@m.Title</h6>
            @Html.Raw(m.Text)
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 bg-light py-3 text-wrap d-flex justify-content-center text-center align-items-center">
            @m.SendDate.ToLocalTime()
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <button class="form-actions no-color" tooltip ="Delete Message">
                    @Html.ActionLink("♻", "Delete", new { id = m.MessageId })
                </button>
            }
        </div>
    </div>
}

<h3>Sent Messages</h3>

@foreach (Message m in Model.SentMessages)
{
    <div class="row border-top border-bottom">
        <div class="col-lg-2 col-md-2 col-sm-3 bg-light py-3 d-flex justify-content-center align-items-center " style="flex-direction: column">
            <img src=@m.Receiver.GetAvatar() alt="User avatar" style="height: 4rem; width: 4rem" class="border">
            <h5 class="text-truncate">@m.OrginalReciver</h5>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 py-3 text-wrap">
            <h6>@m.Title</h6>
            @Html.Raw(m.Text)
        </div> 
        <div class="col-lg-2 col-md-3 col-sm-4 bg-light py-3 text-wrap d-flex justify-content-center text-center align-items-center">
            @m.SendDate.ToLocalTime()
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <button class="form-actions no-color" tooltip ="Delete Message">
                    @Html.ActionLink("♻", "Delete", new { id = m.MessageId })
                </button>
            }
        </div>
    </div>
}


