@model Forum_Dyskusyjne.Models.MakeMessageViewModel

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { @class = "form-horizontal text-center", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Send Message</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h6>User Name</h6>
            </div>
            <div class="form-group d-flex ">
                @Html.TextAreaFor(m => m.UserName, new { @class = "form-control col-sm-12", @rows = "1" })
            </div>
            <div class="col-sm-2">
                <h6>Title</h6>
            </div>
            <div class="form-group d-flex ">
                @Html.TextAreaFor(m => m.Title, new { @class = "form-control col-sm-12", @rows = "1" })
            </div>
        </div>
        </div>

    <div class="form-group d-flex justify-content-center">
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control col-sm-8", @rows = "8" })
    </div>

    <div class="form-group">
        <input type="submit" value="Send it!" class="btn btn-primary" />
    </div>
}
