@using  Forum_Dyskusyjne.Areas.Utils
@using Forum_Dyskusyjne.Areas.Admin.Controllers
@model List<Forum_Dyskusyjne.Models.Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@{if (JsonUtils.ReadStringFromJson(AnnouncementController.JsonPath) != null)
  {
    <h4 class="text-center" >Ogłoszenie administracji</h4>
    <h5 class="text-danger align-content-center text-center">@JsonUtils.ReadStringFromJson(AnnouncementController.JsonPath)</h5>
  }
}

@foreach (var item in Model)
{   
    <h3>@item.Name</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Forum name
                </th>
                <th>
                    Threads
                </th>
                <th>
                    Posts
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var child in item.SubCategories)
            {
                <tr onclick="location.href = '@Url.Action("Index", "Forum",new { index=child.CategoryId })'">
                    <td>
                        <h5>@child.Name</h5>
                        @child.Description
                    </td>
                    <td>
                        @child.Threads.Count
                    </td>
                    <td>
                        @{
                            int count = 0;
                            foreach (var thread in child.Threads)
                            {
                                count += thread.Posts.Count;
                            }
                        }
                        @count
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>
}
