@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Users", "Index", "Users")
    @Html.ActionLink("Threads", "Index", "Threads")
    @Html.ActionLink("Posts", "Index", "Posts")
    @Html.ActionLink("Categories", "Index", "Categories")
    @Html.ActionLink("Messages", "Index", "Messages")
    @Html.ActionLink("Prohibited words", "Index", "ProhibitedWords")
    @Html.ActionLink("Allowed tags", "Index", "AllowedTags")
    @Html.ActionLink("Announcement", "Index", "Announcement")
</div>